<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<title>@ViewData["Title"]-LearnifyStockApp</title>
<meta content="width=device-width, initial-scale=1.0, shrink-to-fit=no" name="viewport" />
<link rel="icon" href="~/img/kaiadmin/favicon.ico" type="image/x-icon" />

<partial name="_HeadFontsAndIconsPartial" />
<partial name="_HeadCssPartial" />