@model ProductViewModel

<!-- Button trigger modal -->
<a class="btn btn-info btn-icon btn-round" title="Çöp Kutusuna Gönder" data-bs-toggle="modal"
    data-bs-target="#soft-delete-modal-@Model.Id">
    <i class="fa fa-trash"></i>
</a>

<!-- Modal -->
<div class="modal fade" id="soft-delete-modal-@Model.Id" tabindex="-1" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">DİKKAT!</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <span class="text-danger">@Model.Name</span> adlı ürün Çöp Kutusuna gönderilecektir. Emin misiniz?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-info" data-bs-dismiss="modal">Hayır</button>
                <a asp-controller="Product" asp-action="SoftDelete" asp-route-id="@Model.Id"
                    class="btn btn-danger">Evet</a>
            </div>
        </div>
    </div>
</div>