<li class="nav-item active">
    <a href="/">
        <i class="fas fa-home"></i>
        <p>Anasayfa</p>
    </a>
</li>

<li class="nav-section">
    <span class="sidebar-mini-icon">
        <i class="fa fa-ellipsis-h"></i>
    </span>
    <h4 class="text-section">Menü</h4>
</li>

<li class="nav-item">
    <a asp-controller="Category" asp-action="Index" asp-route-id="false">
        <i class="fas fa-vector-square"></i>
        <p>Kategoriler</p>
    </a>
</li>

<li class="nav-item">
    <a asp-controller="Product" asp-action="Index" asp-route-id="false">
        <i class="fas fa-utensil-spoon"></i>
        <p>Ürünler</p>
    </a>
</li>

<li class="nav-item">
    <a asp-controller="Customer" asp-action="Index" asp-route-id="false">
        <i class="fas fa-users"></i>
        <p>Müşteriler</p>
    </a>
</li>

<li class="nav-item">
     <a asp-controller="Supplier" asp-action="Index" asp-route-id="false">
        <i class="fas fa-truck"></i>
        <p>Tedarikçiler</p>
    </a>
</li>

<li class="nav-item">
    <a href="/">
        <i class="fas fa-home"></i>
        <p>Satışlar</p>
    </a>
</li>

<li class="nav-item">
    <a href="/">
        <i class="fas fa-home"></i>
        <p>Stok Hareketleri</p>
    </a>
</li>

<li class="nav-item">
    <a href="/">
        <i class="fas fa-home"></i>
        <p>Hareketleri Tipleri</p>
    </a>
</li>