@model Contact
@{
    ViewData["Title"] = "Read";
}

<!-- Blank Start -->
<div class="container-fluid pt-4 px-4">
    <div class="row vh-100 bg-light rounded justify-content-center mx-0">
        <div class="col-md-12 p-4">
            <h3>Mesaj Bilgisi</h3>
            <div class="col-md-12 col-xl-6">
                <div class="bg-light rounded h-100 p-4">
                    <h6 class="mb-4">@Model.Email</h6>
                    <div class="owl-carousel testimonial-carousel">
                        <div class="testimonial-item">
                            <h5 class="mb-1">@Model.Name</h5>
                            <p class="">@Model.Subject</p>
                            <p class="mb-0">@Model.Message</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Blank End -->