<header style="background-color: #37527E !important;" id="header" class="header d-flex align-items-center fixed-top">
    <div class="container-fluid container-xl position-relative d-flex align-items-center">

        <a href="/" class="logo d-flex align-items-center me-auto">
            <!-- Uncomment the line below if you also wish to use an image logo -->
            <!-- <img src="/ui/img/logo.png" alt=""> -->
            <h1 class="sitename">@Model.AppSetting.BrandName</h1>
        </a>

        <nav id="navmenu" class="navmenu">
            <ul>
                @await Html.PartialAsync("_HeaderMenuPartial")
            </ul>
            <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
        </nav>


    </div>
</header>