<!-- Services Section -->
<section id="services" class="services section light-background">

    <!-- Section Title -->
    <div class="container section-title" data-aos="fade-up">
        <h2>HİZMETLER</h2>
        <p>Sizlere sunabileceğim hizmetler şu şekildedir</p>
    </div><!-- End Section Title -->

    <div class="container">

        <div class="row gy-4">
            @foreach (var service in Model.Services)
            {
                <div class="col-xl-3 col-md-6 d-flex" data-aos="fade-up" data-aos-delay="100">
                    <div class="service-item position-relative w-100">
                        <div class="icon"><i class="bi @service.Icon icon"></i></div>
                        <h4><a href="" class="stretched-link">@service.Title</a></h4>
                        <p>@service.Description</p>
                    </div>
                </div>
            }
        </div>

    </div>

</section><!-- /Services Section -->