@model ProductCreateViewModel
@{
    ViewData["Title"] = "Yeni Ürün";
}

<form asp-controller="Product" asp-action="Create" method="post">


    <div class="page-header d-flex justify-content-between">
        <h3 class="fw-bold mb-3">Yeni Ürün</h3>
        <div>
            <button type="submit" class="btn btn-success btn-icon btn-round" title="Kaydet">
                <i class="fas fa-save"></i>
            </button>

            <a asp-controller="Product" asp-action="Index" class="btn btn-warning btn-icon btn-round" title="Vazgeç">
                <i class="fas fa-window-close"></i>
            </a>

        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <div class="text-danger" asp-validation-summary="All"></div>
                    <div class="form-group">
                        <label asp-for=Name></label>
                        <input asp-for=Name class="form-control form-control-lg" />
                    </div>
                    <div class="form-group">
                        <label asp-for=Description></label>
                        <textarea asp-for=Description class="form-control" rows="5"></textarea>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <div class="row form-group">
                        <div class="form-group col-md-4">
                            <label asp-for=StockQuantity></label>
                            <input asp-for=StockQuantity class="form-control form-control-lg" />
                        </div>
                        <div class="form-group col-md-4">
                            <label asp-for=MinimumStockLevel></label>
                            <input asp-for=MinimumStockLevel class="form-control form-control-lg" />
                        </div>
                        <div class="form-group col-md-4">
                            <label asp-for=Price></label>
                            <input asp-for=Price class="form-control form-control-lg" />
                        </div>
                        <div class="form-group col-md-12">
                            <label asp-for=CategoryList></label>
                            <select asp-items="@Model.CategoryList" asp-for=CategoryId
                                class="form-select form-control-lg"></select>
                        </div>
                        <div class="form-group col-md-12">
                            <label asp-for=SupplierList></label>
                            <select asp-items="@Model.SupplierList" asp-for=SupplierId
                                class="form-select form-control-lg"></select>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <button type="submit" class="btn btn-success btn-icon btn-round" title="Kaydet">
        <i class="fas fa-save"></i>
    </button>

</form>